---
// components/widgets/GitHubActivity.astro
---

<div class="github-activity font-mono">
  <div class="space-y-3">
    <div class="border-2 border-[var(--color-border)] p-3 text-sm">
      <div class="flex items-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-0.5 mr-2 text-[var(--color-accent)]" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5.5a.75.75 0 001.5 0v-5.5zm0 8a.75.75 0 00-1.5 0v.5a.75.75 0 001.5 0v-.5z" clip-rule="evenodd" />
        </svg>
        <div>
          <div class="font-bold">Pushed 3 commits to <a href="#" class="hover:text-[var(--color-accent)]">retroterm</a></div>
          <div class="text-xs text-[var(--color-text-muted)] mt-1">2 days ago</div>
        </div>
      </div>
    </div>
    
    <div class="border-2 border-[var(--color-border)] p-3 text-sm">
      <div class="flex items-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-0.5 mr-2 text-[var(--color-accent)]" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 3a2 2 0 012-2h10a2 2 0 012 2v1a2 2 0 012 2v6a2 2 0 01-2 2h-1v1a2 2 0 01-2 2H5a2 2 0 01-2-2v-1H2a2 2 0 01-2-2V6a2 2 0 012-2h1V3zm1 0v1h10V3H4zm1 3H2v6h1v1h12v-1h1V6h-1V5H5v1z" clip-rule="evenodd" />
        </svg>
        <div>
          <div class="font-bold">Created pull request in <a href="#" class="hover:text-[var(--color-accent)]">astromark</a></div>
          <div class="text-xs text-[var(--color-text-muted)] mt-1">5 days ago</div>
        </div>
      </div>
    </div>
    
    <div class="border-2 border-[var(--color-border)] p-3 text-sm">
      <div class="flex items-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-0.5 mr-2 text-[var(--color-accent)]" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 14a6 6 0 100-12 6 6 0 000 12zm-.75-6.25a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5h-1.5z" clip-rule="evenodd" />
        </svg>
        <div>
          <div class="font-bold">Opened issue in <a href="#" class="hover:text-[var(--color-accent)]">tailwind-utils</a></div>
          <div class="text-xs text-[var(--color-text-muted)] mt-1">1 week ago</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-4 text-center">
    <a href="https://github.com/yourusername" target="_blank" rel="noopener noreferrer" class="inline-flex items-center font-mono text-xs hover:text-[var(--color-accent)] transition-colors duration-300">
      <span>View GitHub Profile</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</div>
